In [28]:
import pandas as pd
import numpy as np
!pip install xlrd
df=pd.read_excel('IrisData.xlsx')

Requirement already satisfied: xlrd in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.2.0)

In [29]:
df.head()

   SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH        CLASS
0           5.1          3.5           1.4          0.2  Iris-setosa
1           NaN          NaN           NaN          NaN          NaN
2           4.9          3.0           1.4          0.2  Iris-setosa
3           NaN          NaN           NaN          NaN          NaN
4           4.7          3.2           1.3          0.2  Iris-setosa

## Drop the non required columns

In [30]:
df.dropna(subset=['SEPAL_LENGTH'],axis=0,inplace=True)

In [31]:
df.head()

   SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH        CLASS
0           5.1          3.5           1.4          0.2  Iris-setosa
2           4.9          3.0           1.4          0.2  Iris-setosa
4           4.7          3.2           1.3          0.2  Iris-setosa
6           4.6          3.1           1.5          0.2  Iris-setosa
8           5.0          3.6           1.4          0.2  Iris-setosa

## Feature Selection

In [32]:
X=df[['SEPAL_LENGTH','SEPAL_WIDTH','PETAL_LENGTH','PETAL_WIDTH']].values

In [33]:
y=df['CLASS'].values

## Scaling

In [34]:
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)

## Train Test Split

In [37]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=3)

## Algorithm - Decision Tree

In [43]:
from sklearn.tree import DecisionTreeClassifier
dectree=DecisionTreeClassifier(criterion="entropy",max_depth=5)

In [44]:
dectree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [45]:
pred=dectree.predict(X_test)

### Accuracy

In [46]:
from sklearn import metrics
metrics.accuracy_score(pred,y_test)

0.9555555555555556

In [47]:
pred

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica'], dtype=object)